{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h2 class="mt-5">Flask For Beginners</h2>
    <!-- <img src="{{ url_for('static', filename='images/home.png') }}" alt=""> -->
    <p>
        Flask is a super lightweight python framework with useful tools that allows you to make website really quickly
        and really easily. Flask teaches the fundamentals of web development. It can be used to build a small website or MVP. 
        Here is what we will learn in this tutorial:
    </p>
    <ul>
        <li>Virtual Environments</li>
        <li>Installing Flask & SQLAlchemy</li>
        <li>A Minial Flask Application </li>
        <li>Rendering Templates </li>
        <li>Passing Data to Templates </li>
        <li>Sessions</li>
        <li>Flashing Messages</li>
        <li>Registering a User</li>
        <li>Logging in a User</li>
        <li>Logging out a User</li>
        <li>Displaying All Registered Users</li>
        <li>Displaying Profile Page</li>
        <li>Update Profile</li>
        <li>Delete User</li>
        <li>Hiding Nav Link If User is Not Logged In</li>
    </ul>
{% endblock %}